@import 'partials/reset';


$dark: black;
$light: #EEE;
$highlight: orange;
$padding: 20px;
$oswald: 'Oswald', sans-serif;
$lato: 'Lato', sans-serif;


$medium: "only screen and (min-width: 600px) and (max-width: 899px)";
$small: "only screen and (max-width: 599px)";
$large: "only screen and (min-width: 900px)";



body {
    background-image: url("../assets/bg.jpg");

  // background-color: $highlight;

}

header {
  background-image: url("../assets/header_bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $light;
  position: relative;

  #logo{
    @media #{$small}{
    }
  }

  @media #{$small}{
    background-image: none;
  }


  #addButton{
    background-color: $light;
    // margin: 10px 10px 10px 10px;
    border: solid 2px $highlight;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 30px;
    height: 30px;
    font-size: 35px;
    color: red;
    padding: 0;
    margin: 0;

    >span{
      line-height: 20px;
      text-align: center;
      display: block;
      width: 27px;
      height: 27px;
      margin: auto;
      padding: 0;
      margin: 0;
    }

    &:hover{
      background-color: $highlight;
      color: white;
      // border: solid 2px red;
    }
  }

  div {
    width : 120px;
    margin : auto;

  }
}



nav {
  height: 45px;
  background-color: $dark;
  font-family: $oswald;
  font-size: 17px;
  text-transform: uppercase;


  ul {
    max-width: 255px;
    margin: auto;
    list-style-type: bullet;
    padding: 13px;

     @media #{$small}{
      margin: 0,0,0,0;
      list-style-type: none;
      width: 100%;
      padding: 0px;
     }
  }

  li{
     display:inline-block;
     color: $light;
     &:hover{
      color: $highlight;
     }

    &:first-child{

      &:before{
        display: none;
      }
    }

    &:before{
      content: " ";
      width: 5px;
      height: 5px;
      display: inline-block;
      background-color: #888;
      position: relative;
      margin-right: 7px;
      border-radius: 100%;
      box-sizing:border-box;
      top: -5px;
    }

     @media #{$small}{
      padding: 0;
      list-style-type: none;
       width: 29%;
     }

     #middle{

      @media #{$small}{
        border: solid 1px white;
      }
     }

  }
}



.main {
  background-image: url("../assets/bg.jpg");
}

.articles {
  text-align: center;

  // margin-top: 20px;

  ul.containerList {
    // background-color: teal;
    // max-width: 710px;
    // margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

  }

  div.inBlockDiv {
    padding: 20px;

  }

  li.contentBlock{
   background-color: $light;
    display: inline-block;
    width: 323px;
    height: 400px;
    margin: 10px 10px 10px 10px;
    border: solid 5px transparent;
    // background-color: yellow;

    &:hover{
      border: solid 5px $highlight;
      h2{
        color : $highlight;
      }
    }

    // @media #

    h2{
        margin-top: 20px;
        font-family: $lato;
        font-size: 25px;
        color: black;
      }

    a{
       text-decoration: none;
    }
    div{
      // background-color: pink;
      max-width: 277px;
      margin: auto;
      // opacity: 0;
    }

    ul.articleData{
      margin-top: 5px;
      // display: block;

      li{
        display: inline-block;
        color: gray;
        font-family: $lato;

         &:first-child{

          &:before{
            display: none;
          }
       }

        &:before{
          content: " ";
          width: 5px;
          height: 5px;
          display: inline-block;
          background-color: #888;
          position: relative;
          margin-right: 5px;
          border-radius: 100%;
          box-sizing:border-box;
          top: -2px;
        }

      }
    }

    p.articleContent{
      margin-top: 20px;
      font-family: $lato;

    }

  }


}

footer{
  height: 50px;
  background-color: $dark;

  @media #{$medium}{
    display: none;
  }

  @media #{$small}{
    display: none;
  }

  ul{
    width: 60px;
    height: 25px;
    margin: auto;
    padding-top: 10px;

    #instagram{
      display: inline-block;
      width: 25px;
      height: 25px;
      background-image: url("../assets/instagram_grey.svg");
      &:hover{
        background-image: url("../assets/instagram_orange.svg");

      }
    }
    #facebook{
      display: inline-block;
      width: 25px;
      height: 25px;
      background-image: url("../assets/facebook_grey.svg");
    }
  }

}


@media #{$small}{

  nav{
    padding: 0;
    li{
       &:before{
        display: none;
      }

    }
  }



  .articles{

      li.contentBlock{
        background-color: $light;
        display: inline-block;
        width: 323px;
        height: 400px;
        margin: 10px 0px 10px 0px;
        border: solid 5px transparent;

        #middle{
          color: pink;
          background-color: pink;
          border: solid white 1px;
        }
      }
    }

}